google-play-scraper==1.2.7  
pandas==2.2.2               
numpy==1.26.4               
nltk==3.8.1                 
textblob==0.18.0.post0      
transformers==4.44.2        
torch==2.4.0                
matplotlib==3.9.2           
seaborn==0.13.2             
wordcloud==1.9.3            
scikit-learn==1.5.1         
jupyter==1.1.1             